@import './Reset.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

:root {
  --text-font: 'Raleway', sans-serif;
  --title-font: 'Poppins', sans-serif;
  --dark-blue: #000d24;
  --light-gray: #cccccc;
  --white: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--text-font);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1280px;
  border: 1px solid rgba(0, 13, 36, 0.3);
  box-shadow: 3px 1px 2px 1px rgba(0, 13, 36, 0.3);
  padding: 1rem;
}
