.addressContainer {
  display: grid;
  height: 100%;
  overflow: hidden;
}

@media (max-width) {
  .addressContainer {
    overflow-y: scroll;
  }
}

.addressUserContent {
  display: none;
}

.AddressButtonContainer {
  display: grid;
  justify-items: flex-end;
  width: 70%;
}

@media (max-width: 48rem) {
  .AddressButtonContainer {
    width: 90%;
  }
}

.allUsersAddress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  height: 150px;
  overflow-y: scroll;
}

.allUsersAddress::-webkit-scrollbar,
.allUsersAddress::-webkit-scrollbar {
  width: 6px;
}
.allUsersAddress::-webkit-scrollbar-thumb,
.allUsersAddress::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 4px;
}
.allUsersAddress::-webkit-scrollbar-track,
.allUsersAddress::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 4px;
}

@media (max-width: 48rem) {
  .allUsersAddress {
    padding-left: 0;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.addressCard {
  display: grid;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 13, 36, 0.3);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 1px 1px rgba(0, 13, 36, 0.3);
}

.addressCardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.875rem;
}

.addressCardText {
  font-size: 0.875rem;
  line-height: 1.2rem;
}

@media (max-width: 48rem) {
  .addressCardTitle {
    font-size: 1rem;
  }

  .addressCardText {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
