.adviseContainer {
  display: block;
  width: 100%;
  padding-left: 2rem;
}

.adviseText {
  font-size: 1rem;
  line-height: 2rem;
}

@media (max-width: 48rem) {
  .adviseContainer {
    padding-left: 1rem;
  }
  .adviseText {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

.adviseTextWarning {
  color: red;
  font-weight: 600;
}
