.navbarContainer {
  padding: 1rem;
  grid-area: nav;
  height: fit-content;
}

.navbarContainer > ul {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 48rem) {
  .navbarContainer > ul {
    align-items: center;
    justify-content: space-around;
  }
}

.navbarContainer > ul > li {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 0.7rem;
}

@media (max-width: 48rem) {
  .navbarContainer > ul > li:first-child {
    padding-left: 0;
  }
  .navbarContainer > ul > li:last-child {
    padding-right: 0;
  }
}

.navbarSVG {
  display: flex;
  width: 30px;
  margin-right: 0.5rem;
}

.navbarSteps {
  color: var(--light-gray);
  font-size: 0.875rem;
}

@media (max-width: 48rem) {
  .navbarSteps > p {
    display: none;
  }
}

.navbarActive {
  color: var(--dark-blue);
}
